{% extends "app/layout.html" %}

{% block content %}

<h2>ADAILTON EMPREENDIMENTOS</h2>
<h3>Empreendimentos no Geral</h3>
<h2>CARLOS FERNANDES</h2>
<h2>DANIEL CAMPOS</h2>
<h2>DANIEL RIBEIRO</h2>
<h2>FELIPE FRANCISCO</h2>
<h2>VICTOR ORTIZ</h2>


<address>
    Empresa ADAILTON EMPREENDIMENTOS<br />
    Rua do Cacimba, 1800<br />
    <abbr title="Telefone">Tel:</abbr>
    987056087
</address>

<address>
    <strong>CEO:</strong>   <a href="mailto:Suporte@example.com">CEO@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
